@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --font-sans: var(--font-montserrat);
}

:where(.ant-app) {
  font-family: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
